
{% extends "base_generic.html" %}

{% block content %}
    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        .category_list{
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>

    <h1>Category List</h1>
    {% if category_list %}
        <ul>
            {% for category in category_list %}
                <li class = "category_list">{{ category.category_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}
    <a href="{% url 'category-create' %}" class="btn btn-primary create-button">Create Category</a>
{% endblock %}
